<template>
  <div>
  </div>
</template>

<script>
  import authService from '@/services/auth'

  export default {
    methods: {
      logout() {
        authService.logout()
      },
    },
  }
</script>
